<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Search a book ☀</title>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/search-book.js' %}"></script>
   
    <link rel="stylesheet" href="{% static 'css/style1.css' %}" title="light" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,700i,900i&display=swap" rel="stylesheet"> 
</head>

<body>

	<div class="container">

		    
	    <div style="text-align: center;">
	    	<div class="display-2" style="font-weight: bold; font-style: italic; color: white; -webkit-text-stroke: 4px #7A6660;">Welcome, find your favorite books!</div>


	    	<div id="search-bar" >

	    		<form id = "input-form">
	    			{{ search_form }}
			        
				    <button class="btn btn-light btn-block " id="search-button" style= "font-weight: bold; font-style: italic">Search</button>
				    
        		</form>

	    	</div>

	    </div>

    
		<div class="row myBox">
			
			<div id="book_list" class="text-center">
			
		</div>
			
		
	</div>

	

</body>

